h1{
  text-align: center;
}

.jumbotron{
  background-image: url("https://bit.ly/2ODET7m") ;
}

p{

}

.intro{
  padding-left: 20px;
}

.form{
  align-items: center;
  padding-left: 20px;
}

.footer{
  padding: 20px;
  text-align: center;
  width: 100%;
  color: indianred;
  background-color: lightblue;
}